@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.wrap {
  width: 100%;
  min-height: 100vh; }
  .wrap .section1 {
    width: 100%;
/* <<<<<<< HEAD */
    min-height: 200vh; }
    .wrap .section1 .homePage {
      width: 100%;
      min-height: 100vh;
      background: #4a9b8d;
      background: linear-gradient(90deg, #4a9b8d 0%, #428f81 40%, #148773 100%); }
      .wrap .section1 .homePage header {
        width: 100%;
        height: 141px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 141px;
        color: white;
        font-family: "Comfortaa", cursive; }
        .wrap .section1 .homePage header .logo {
          display: flex;
          align-items: center; }
          .wrap .section1 .homePage header .logo img {
            width: 50px; }
          .wrap .section1 .homePage header .logo span {
            font-size: 1.2em;
            font-weight: 700;
            margin-left: 20px; }
        .wrap .section1 .homePage header nav {
          width: 558px;
          font-weight: 500;
          font-size: 1em; }
          .wrap .section1 .homePage header nav ul {
            width: 100%;
            display: flex;
            justify-content: space-between; }
          .wrap .section1 .homePage header nav ul li {
            list-style: none;
            cursor: pointer; }
        .wrap .section1 .homePage header .supportBtn {
          width: 176px;
          height: 53px;
          border: 2px solid white;
          border-radius: 10px;
          border-top-right-radius: 4px;
          border-bottom-left-radius: 4px;
          background-color: transparent;
          color: white;
          font-size: 0.9em;
          font-family: "Comfortaa", cursive;
          cursor: pointer;
          font-weight: 600; }
          .wrap .section1 .homePage header .supportBtn i {
            margin-left: 5px;
            font-size: 1em; }
      .wrap .section1 .homePage .homePageMain {
        width: 100%;
        padding: 0 141px; }
        .wrap .section1 .homePage .homePageMain .mainMainPart {
          width: 100%;
          display: flex; }
  .wrap .section2 {
    width: 100%;
/* ======= */
/* >>>>>>> 67b0c3123ece7526bcdcb1a64a69d40a283571af */
    height: 200vh; }
  .wrap .section2 .help__paje {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    .wrap .section2 .help__paje .help__bg {
      width: 100%;
      height: 120vh;
      position: absolute;
      z-index: 1;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none; }
    .wrap .section2 .help__paje .help__container {
      width: 100%;
      height: 100%;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 140px;
      padding-right: 140px;
      padding-top: 150px; }
      .wrap .section2 .help__paje .help__container .container-iteam {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .wrap .section2 .help__paje .help__container .container-iteam .help__titel {
          font-family: 'Comfortaa';
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 54px;
          display: flex;
          text-align: center;
          color: #fff;
          position: relative;
          display: inline-block;
          margin: 0; }
          .wrap .section2 .help__paje .help__container .container-iteam .help__titel > span {
            color: #333; }
        .wrap .section2 .help__paje .help__container .container-iteam .container__card-box {
          display: flex;
          align-items: center;
          justify-content: center; }
          .wrap .section2 .help__paje .help__container .container-iteam .container__card-box .container__card {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
            margin-left: 10px;
            margin-right: 10px; }
            .wrap .section2 .help__paje .help__container .container-iteam .container__card-box .container__card .card-box {
              width: 300px;
              height: auto;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 30px;
              margin-bottom: 30px; }
              .wrap .section2 .help__paje .help__container .container-iteam .container__card-box .container__card .card-box .car__icon {
                width: 75px;
                height: 75px; }
              .wrap .section2 .help__paje .help__container .container-iteam .container__card-box .container__card .card-box .card__description {
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 27px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
